<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17FE395C1D4A040C0001FA02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17FE39751D4A040C0001FA02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17FE39801D4A040C0001FA02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
